<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <div class="container">

    <h1>Enter yo name Fool</h1>

    <form class="" action="/register" method="post">
      <label for="name">Your Name</label>
      <input type="text" id="name" name="name" placeholder="Your Name">
      <button type="submit" name="button">eyyyyy lmao</button>
    </form>

  </div>


  <script src="" charset="utf-8" type="text/javascript"></script>
</body>

</html>
